*{
    margin: 0;
    padding: 0;
}
.main-outer{
    width: 100vw;
    height: 100vh;
}
.horizon-outer{
    height: 50vh;
    width: 100%;
    background-color: #1480B7;
}
.road-outer{
    height: 40vh;
    width: 100%;
    background-color: #34495e;
}
.bottom-outer{
    background-color: #95a5a6;
    width: 100%;
    height: 10vh;
}
/*rain-drop*/
.rain{
    position: absolute;
    width: 2px;
    height: 60px;
    background-color: rgba(255,255,255,0.2);
    bottom: 100%;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes fall {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(100vh);
        opacity: 0;
    }
}
.rain:nth-child(1){
    left: 5%;
    animation-duration: 1.5s;
    animation-delay: 0s;
}
.rain:nth-child(2){
    left: 5%;
    animation-duration: 1.7s;
    animation-delay: 0.1s;
}
.rain:nth-child(3){
    left: 10%;
    animation-duration: 1.8s;
    animation-delay: 0.2s;
}
.rain:nth-child(4){
    left: 15%;
    animation-duration: 1.9s;
    animation-delay: 0.3s;
}
.rain:nth-child(5){
    left: 20%;
    animation-duration: 1.4s;
    animation-delay: 0.4s;
}
.rain:nth-child(6){
    left: 25%;
    animation-duration: 1.3s;
    animation-delay: 0.8s;
}
.rain:nth-child(7){
    left: 30%;
    animation-duration: 1.9s;
    animation-delay: 0.1s;
}
.rain:nth-child(8){
    left: 35%;
    animation-duration: 1.4s;
    animation-delay: 0.4s;
}
.rain:nth-child(9){
    left: 40%;
    animation-duration: 1.6s;
    animation-delay: 0.7s;
}
.rain:nth-child(10){
    left: 45%;
    animation-duration: 1.4s;
    animation-delay: 0.7s;
}
.rain:nth-child(11){
    left: 50%;
    animation-duration: 1.9s;
    animation-delay: 0.3s;
}
.rain:nth-child(12){
    left: 55%;
    animation-duration: 1.1s;
    animation-delay: 0.1s;
}
.rain:nth-child(13){
    left: 60%;
    animation-duration: 1.3s;
    animation-delay: 0.8s;
}
.rain:nth-child(14){
    left: 65%;
    animation-duration: 1.2s;
    animation-delay: 0.7s;
}
.rain:nth-child(15){
    left: 70%;
    animation-duration: 1.4s;
    animation-delay: 0.3s;
}
.rain:nth-child(16){
    left: 75%;
    animation-duration: 1.3s;
    animation-delay: 0.7s;
}
.rain:nth-child(17){
    left: 80%;
    animation-duration: 1.5s;
    animation-delay: 0.4s;
}
.rain:nth-child(18){
    left: 85%;
    animation-duration: 1.6s;
    animation-delay: 0.8s;
}
.rain:nth-child(19){
    left: 90%;
    animation-duration: 1.2s;
    animation-delay: 0.9s;
}
.rain:nth-child(20){
    left: 95%;
    animation-duration: 1.3s;
    animation-delay: 0.4s;
}
/*rain-drop*/